@use 'styles/mixins' as *;

.logo {
  position: relative;
  display: inline-flex;
  align-items: center;

  @include interactive {
    color: var(--color-gray-alt);
  }

  &--disabled {
    pointer-events: none;
  }

  &__icon {
    display: inline-flex;
    inline-size: 100%;
    height: auto;
    color: inherit;
  }
}