@use 'styles/mixins' as *;
@use 'styles/functions' as *;
@use 'styles/media' as *;

.contacts {
  @include fluid('margin-block-start', 70, 30);

  &__container {
    display: grid;
    gap: rem(32);
  }

  &__title {
    line-height: 1.1;
    text-wrap: balance;

    @include fluid('font-size', 56, 30);
  }

  &__wrap {
    display: grid;
    gap: rem(20);

    @include tablet-above {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
