@use 'styles/mixins' as *;
@use 'styles/functions' as *;

.error {
  inline-size: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
    padding: rem(32) var(--container-padding-x);
  }

  &__404 {
    margin-block-end: rem(8);
    font-weight: 700;

    @include fluid('font-size', 97, 72, 768);
  }

  &__title {
    font-weight: 400;
    text-align: center;

    @include fluid('font-size', 40, 24, 768);

    @supports (text-wrap: balance) {
      max-inline-size: rem(550);
      text-wrap: balance;
    }
  }

  &__btn {
    min-inline-size: rem(240);
    margin-block-start: rem(24);
  }

  &__copyright {
    margin-block-start: rem(42);
    font-weight: 300;
    text-align: center;

    @include fluid('font-size', 17, 15, 768);
  }
}
