@use "styles/functions" as *;

.otp {
  &__wrap {
    display: grid;
    gap: rem(8);
  }

  &__error {
    display: grid;
    gap: rem(4);
    width: 100%;
    font-size: rem(13);
    line-height: 1.1;
    color: var(--error);
  }
}
