<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
      <p class="hero__subtitle">
        Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to
        your sense of style.
      </p>

      <a [routerLink]="[STATIC_ROUTES.HOME.RouterLink]" class="hero__btn btn btn__black">
        <span class="btn__text">{{ 'button.goHome' | translate }}</span>
      </a>

      <div #statsBlock class="stats">
        <h2 class="stats__column">
          <span class="stats__count" data-target="200">200+</span>
          <span class="stats__title">{{ 'count.internationalBrands' | translate }}</span>
        </h2>
        <h2 class="stats__column">
          <span class="stats__count" data-target="2000">2 000+</span>
          <span class="stats__title">{{ 'count.highQualityProducts' | translate }}</span>
        </h2>
        <h2 class="stats__column">
          <span class="stats__count" data-target="30000">30 000+</span>
          <span class="stats__title">{{ 'count.happyCustomers' | translate }}</span>
        </h2>
      </div>
    </div>
    <div class="hero__bg"></div>
  </div>
</section>
