<div class="form__container">
  <h2 class="form__title">{{ 'footer.form.title' | translate }}</h2>

  <form class="form footer__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <form-field
      [data]="form.get('email')!"
      formControlName="email"
      name="email"
      label="{{ 'footer.form.email' | translate }}"
      type="email"
      class="form__field"></form-field>

    <button [disabled]="form.invalid || loading" [ngClass]="containerClasses" class="form__submit btn btn__white" type="submit">
      <span class="btn__text">{{ 'footer.form.btn' | translate }}</span>
    </button>
  </form>
</div>
