<section class="company">
  <h2 class="company__title visually-hidden">
    {{ 'home.company' | translate }}
  </h2>
  <div class="company__container container">
    <img
      class="company__logo"
      src="assets/images/company/versace.svg"
      width="117"
      height="24"
      loading="lazy"
      decoding="async"
      alt="Versace" />
    <img
      class="company__logo"
      src="assets/images/company/zara.svg"
      width="65"
      height="27"
      loading="lazy"
      decoding="async"
      alt="Zara" />
    <img
      class="company__logo"
      src="assets/images/company/gucci.svg"
      width="110"
      height="26"
      loading="lazy"
      decoding="async"
      alt="Gucci" />
    <img
      class="company__logo"
      src="assets/images/company/prada.svg"
      width="127"
      height="21"
      loading="lazy"
      decoding="async"
      alt="Prada" />
    <img
      class="company__logo"
      src="assets/images/company/calvin-klein.svg"
      width="135"
      height="23"
      loading="lazy"
      decoding="async"
      alt="Calvin Klein" />
  </div>
</section>
