<div
  class="footer__copyright copyright"
  role="contentinfo"
  aria-label="Copyright"
>
  <p class="copyright__text">
    Shop.co © 2000-<time attr.datetime="{{ year | date: 'y' }}">{{
      year | date: "y"
    }}</time
    >. {{ "footer.reserved" | translate }}
  </p>

  <div class="copyright__payments">
    <img
      src="assets/images/footer/Visa.svg"
      width="34"
      height="12"
      loading="lazy"
      decoding="async"
      alt="Visa"
      class="copyright__logo"
    />
    <img
      src="assets/images/footer/Mastercard.svg"
      width="26"
      height="16"
      loading="lazy"
      decoding="async"
      alt="Mastercard"
      class="copyright__logo"
    />
    <img
      src="assets/images/footer/Paypal.svg"
      width="35"
      height="10"
      loading="lazy"
      decoding="async"
      alt="Paypal"
      class="copyright__logo"
    />
    <img
      src="assets/images/footer/applePay.svg"
      width="28"
      height="12"
      loading="lazy"
      decoding="async"
      alt="apple pay"
      class="copyright__logo"
    />
    <img
      src="assets/images/footer/googlePay.svg"
      width="29"
      height="13"
      loading="lazy"
      decoding="async"
      alt="google pay"
      class="copyright__logo"
    />
  </div>
</div>
