@use 'styles/functions' as *;
@use 'styles/mixins' as *;

.rating {
  display: flex;
  align-items: center;
  gap: rem(4);

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    outline: none;
    color: var(--color-gray-alt);

    &.rated {
      color: var(--warning);
    }

    &[disabled] {
      pointer-events: none;
    }

    @include interactive {
      color: var(--warning);

      ~ .rated {
        color: var(--color-gray-alt);
      }
    }
  }

  &__icon {
    pointer-events: none;
  }
}
