@forward "swiper/scss";

@use "styles/mixins" as *;
@use "styles/functions" as *;
@use "styles/media" as *;

.customers {
  @include fluid("margin-block-start", 80, 40);

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    text-wrap: balance;

    @include fluid("margin-block-end", 40, 24);
  }

  &__wrap {
    position: relative;
  }
}

.slider {
  display: grid;
  overflow: auto;

  &__btn {
    display: none;

    @media (pointer: fine) {
      position: absolute;
      z-index: 10;
      inset-block-start: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      block-size: rem(36);
      inline-size: rem(36);
      padding: 0;
      border: rem(3) solid transparent;
      border-radius: rem(4);
      outline: none;
      background-color: var(--color-light);
      opacity: 0.2;
      transition: all var(--transition-duration)
        var(--transition-timing-function);
      transform: translateY(-50%);

      @include interactive {
        border-color: currentcolor;
        opacity: 1;
      }
    }
  }

  &__prev {
    @include fluid("inset-inline-start", 12, -8);
  }

  &__next {
    @include fluid("inset-inline-end", 12, -8);
  }
}

.slide {
  display: grid;
  align-content: flex-start;
  gap: rem(16);
  border: rem(1) solid var(--color-gray);
  border-radius: rem(20);

  @include fluid("padding", 32, 20);
}
