@use './functions' as *;

:root {
  --color-black: #000000;
  --color-light: #ffffff;
  --color-dark: #191a23;
  --color-dark-alt: #292a32;
  --color-gray: #f3f3f3;
  --color-gray-alt: #666666;
  --color-pink: #ff3333;
  --color-pink-alt: rgb(255, 51, 51, 0.1);

  --error: #e41212;
  --warning: #ee8d33;
  --success: #2bad34;

  --font-family-base: 'Roboto', sans-serif;

  --container-width: #{(1440 / 16)}rem;
  --container-padding-x: #{(20 / 16)}rem;

  --transition-duration: 0.25s;
  --transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
